@import 'fonts.css';

body {
   background: gray;
}

ul, li {
   display: block;
   padding: 0;
   margin: 0;
}

.menu-bar {
   background: #fff;
   padding: 20px 0;
   color: #212121;
}
.menu__item {
   margin-left: 37px;
}
.menu__item a {
   font-family: 'Open Sasn Smibold';
   font-size: 20px;
   color: #212121;
}
.menu__item a:hover {
   text-decoration: none;
   color: #868686;
}